<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="checkmark-circle"></ion-icon>
      <ion-label>Disponíveis</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="close-circle"></ion-icon>
      <ion-label>Emprestados</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
