<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-padding" class="ion-text-center">
          Reservar
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="newEquipamento()">
          <ion-icon name="add-circle" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let equip of lista">
            <ion-item-sliding *ngIf="!equip.situacao">
                <ion-item>
                    <img src="{{equip.fotos}}" (click)="newReserva(equip)">
                </ion-item>
                <ion-item>
                    <ion-label>{{equip.title}}</ion-label>
                </ion-item>
            </ion-item-sliding>
        </ion-item-sliding>
    </ion-list>
</ion-content>
