<ion-header>
    <ion-toolbar>
        <ion-title class="ion-padding" class="ion-text-center">
            Emprestados
        </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-list>
          <ion-item-sliding *ngFor="let equip of lista">
              <ion-item-sliding *ngIf="equip.situacao">
                  <ion-item>
                      <img src="{{equip.fotos}}" (click)="newReserva(equip)">
                  </ion-item>
                  <ion-item>
                      <ion-label>{{equip.title}}</ion-label>
                  </ion-item>
              </ion-item-sliding>
          </ion-item-sliding>
      </ion-list>
  </ion-content>