<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Controle de Equipamentos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

    <img src="../../../assets/icon/logo.png" >
    <ion-item routerLink="/reserva">
      <ion-button size="large" color="danger">Reservar Equipamento</ion-button>
    </ion-item>
    
</ion-content>
